body {
    font-family: Arial, sans-serif;
    background: url(../media/464455.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 87vh;

}
input{
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
    background-color: #f9f9f9;
}
input:focus{
    border-color:wheat;
    box-shadow: 0 0 8px rgba(0, 168, 234, 0.4);
    outline: none;
    background-color: #ffffff;

}
input:placeholder-shown{
    color: #aaaaaa;
 
    transition: color 0.3s;

}
.main-container{
    backdrop-filter: blur(50px)!important;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 105px;
}
.clickme{
    padding: 10px;
}